<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FINAL PROJECT</title>
</head>
<body>
    <div class = "container">
        <div id = "app"> 
            <div class = "row">
                <div class = "card-deck" id = "cardDeck">
                    <div v-for="(movie, index) in movies">
                           <acard :name= "movie.title" :img= "movie.poster " :ov="movie.overview" ></acard>
                    </div>
                </div>    
            </div>
            <template v-if= "cartArray.length !==0 ">
                <h2>{{ticketsummary}}</h2>
                <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Movie</th>
                            <th scope="col">Children's Tickets</th>
                            <th scope="col">Adult Tickets</th>
                            <th scope="col">Subtotal</th>   
                            <th scope="col">Button</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for= " (data, index ) in cartArray">
                                <template>
                                    <td>{{data.itemName}}</td>
                                    <td>{{data.countchild}} x {{priceChild}}<button @click ="decrementChild( index)" type="button" class="btn btn-primary btn-sm">-</button></td>
                                    <td>{{data.countadult}} x {{priceAdult}}<button @click ="decrementAdult( index)" type="button" class="btn btn-primary btn-sm">-</button></td>
                                    <td>{{ (data.countchild*priceChild + data.countadult*priceAdult).toFixed(2) }}</td> <!-- Subtotal of each row -->       
                                    <td><button @click ="remove( index)" type="button" class="btn btn-primary btn-sm">Remove</button></td>
                                </template>
                                
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>Children Subtotal</td>

                                <td>{{subtotalChild}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                    <td colspan="2"></td>

                                    <td>Adult Subtotal</td>
                                    <td>{{subtotalAdult}}</td>
                                    <td></td>
                                </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>Total</td>
                                <td>{{(subtotalAdult + subtotalChild).toFixed(2)}}</td>
                                <td></td>
                            </tr> 
                        </tbody>
                        
                </table>
            </template>
        </div>
<!-- //////////////////////////////////// -->       
    </div>
    <script src = "myScript.js"></script>
</body>
</html>